* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Acme', sans-serif;
    font-family: 'Rubik', sans-serif;
    height: 100vh;
}

.logo {
    height: 70px;
}

h1 {
    color: #29b1dd;
    margin-top: 10px;
}

.header-bottom {
    text-align: center;
    background-color: #29b1dd;
    height: 70px;
    line-height: 70px;
}

.header-bottom h3 {
    color: white;
    display: inline-block;
    margin: 15px 0;
}

main {
    background-color: #dddddd;
    height: calc(100% - 140px);
    overflow-y: auto;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: calc(100% / 5 - 10px);
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
}

.card i {
    color: yellow;
    font-size: 30px;
}