* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Acme', sans-serif;
    font-family: 'Rubik', sans-serif;
}
h1 {
    color: #29b1dd;
    margin-top: 10px;
}

.header-bottom {
    text-align: center;
    background-color: #29b1dd;
}

.header-bottom h3 {
    color: white;
    display: inline-block;
    margin: 15px 0;
}

main {
    background-color: #dddddd;
}

.cards {
    display: flex;
}
